// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dashboard-panel {
	ul {
		list-style: none;
		li {
			font-size: .9em;
			.order-label {
				font-weight: 600;
				font-size: 1em !important;
			}			
		}
	}
}